name: Build image

on:
  workflow_dispatch:
  push:
    branches: [ main ]


env:
  IMAGE_ID: "ghcr.io/megathorx/caddy" 

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          labels: "runnumber=${GITHUB_RUN_ID}"
          platforms: "linux/amd64"
          push: true
          tags: "${{ env.IMAGE_ID }}:latest"
